body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-rowdies: Rowdies;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-lgi: 19px;
    --font-size-109xl: 128px;
    --font-size-32xl: 51px;
    --font-size-45xl: 64px;
    --font-size-19xl: 38px;
    --font-size-sm: 14px;
  
    /* Colors */
    --color-white: #fff;
    --color-steelblue-100: #6991b8;
    --color-steelblue-200: #6292bd;
    --color-steelblue-300: #416b91;
    --color-lavender: #d9edff;
    --color-crimson: #dd233a;
    --color-gray: rgba(255, 255, 255, 0.6);
    --color-whitesmoke: #f5f5f5;
    --color-gainsboro-100: #e6e6e6;
  
    /* Gaps */
    --gap-45xl: 64px;
    --gap-13xl: 32px;
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-5xl: 24px;
    --gap-9xs: 4px;
    --gap-21xl: 40px;
    --gap-base-5: 15.5px;
    --gap-5xs: 8px;
    --gap-4xs-5: 8.5px;
  
    /* Paddings */
    --padding-61xl: 80px;
    --padding-21xl: 40px;
    --padding-33xl: 52px;
    --padding-20xl: 39px;
    --padding-6xs: 7px;
    --padding-45xl: 64px;
    --padding-23xl: 42px;
    --padding-38xl: 57px;
    --padding-xl: 20px;
    --padding-39xl: 58px;
    --padding-15xl: 34px;
    --padding-71xl: 90px;
    --padding-base: 16px;
    --padding-13xl: 32px;
    --padding-12xs: 1px;
    --padding-11xl: 30px;
    --padding-3xl: 22px;
    --padding-19xl: 38px;
    --padding-44xl: 63px;
    --padding-6xl: 25px;
    --padding-12xl: 31px;
    --padding-5xl: 24px;
    --padding-25xl: 44px;
    --padding-7xl: 26px;
    --padding-26xl: 45px;
    --padding-5xs: 8px;
    --padding-sm: 14px;
    --padding-32xl: 51px;
  
    /* Border radiuses */
    --br-271xl-4: 290.4px;
    --br-331xl: 350px;
    --br-3xs: 10px;
    --br-21xl: 40px;
    --br-31xl: 50px;
    --br-13xl: 32px;
    --br-base: 16px;
    --br-8xs: 5px;
    --br-86xl-1: 105.1px;
    --br-481xl: 500px;
  }
  